# Dependencies
node_modules/

# Next.js
.next/
out/
.vercel/

# Build outputs
build/
dist/

# Caches
.cache/
.turbo/
.swc/
.eslintcache

# Env files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors
.idea/
.vscode/
.DS_Store
